    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    li {
        list-style-type: none;
    }
    /* RESET */
    
    .page {
        background-color: #FFF;
        padding: 0;
        margin: 0;
    }
    
    .page__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .page__section,
    .page__header,
    .page__footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page__section {
        background-color: #FFF;
      
    }

    .page__layout {
        width: 1200px;
        height: 100%;
    }
    
    .page__layout--full {
        width: 100%;
    }
    
    button {
        border: none;
        padding: 0;
        margin: 0;
    }

    /* */
    /*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


body {
    overflow-x: hidden;
}

.page__section-vgrad {
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, #bfacfe, #795fff);
}

.page__layout-content {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.page__layout-wrapper {
    height: inherit;
    max-height: 100vh;
    width: inherit;
}

h1.main-title {
    position: absolute;
    top: 20%;
    left: 50%;
    min-width: 60%;
    transform: translateX(-50%);
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
}

header.head {
    position: absolute;
    top: 0;
    width: 100%;
}

div.nav-wrapper {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

nav.navbar {
    position: absolute;
    top: 25px;
    left: 0;
    text-align: center;
    height: 40px;
    width: 100%;
    display: inline-block;
    font-family: Roboto;
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
}

ul.nav-logo {
    display: inline-block;
    float: left;
}

ul.nav-menu {
    float: right;
    line-height: 100%;
}

ul.nav-menu > li {
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: auto 5px;
}

ul.nav-menu > li > button.login-btn, button.more {
    color: white;
    background-color: #3ce1f4;
    height: 30px;
    width: 70px;
    box-shadow: -2px -1px 10px gray, 3px 6px 15px gray;
    font-family: Open Sans;
}

button.more {
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.min-square {
    width: 30px;
    height: 30px;
    border: 10px solid #3ce1f4;
    transform: rotate(45deg);
    overflow-x: hidden;
}

.min-square-left {
    position: absolute;
    left: -25px;
    top: 45%;
}

.min-square-right {
    position: absolute;
    right: -25px;
    top: 75%;        
}

.min-square-right2 {
    position: absolute;
    right: 35px;
    top: 100px;
}

.square {
    width: 127px;
    height: 127px;
    background-image: url("img/icons/dot.svg");
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: 9px;
}

.sq-left {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.sq-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.s2 {
    top: 85%;
}

.triangle {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-clip-path: polygon(100% 0, 100% 8%, 8% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 8%, 8% 100%, 0 100%, 0 0);
    /*transform: rotate(45deg);*/
}

.laptop {
    height: 100%;
    width: 100%;
}

.laptop > img.n1 {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 10;
}

.laptop > img.n2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 326px;
    z-index: 1;
}

.laptop > img.n3 {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
}

.features{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}
.boxes{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    text-align: center;
}
#box{
    width: 28%;
    height: 150px;
    margin: 10px;
    padding-top: 30px;
    -webkit-box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75)
}


.box_1{
    background: rgba(186,166,255,1);
    background: -moz-linear-gradient(left, rgba(186,166,255,1) 0%, rgba(186,166,255,1) 9%, rgba(160,137,253,1) 48%, rgba(126,99,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,166,255,1)), color-stop(9%, rgba(186,166,255,1)), color-stop(48%, rgba(160,137,253,1)), color-stop(100%, rgba(126,99,254,1)));
    background: -webkit-linear-gradient(left, rgba(186,166,255,1) 0%, rgba(186,166,255,1) 9%, rgba(160,137,253,1) 48%, rgba(126,99,254,1) 100%);
    background: -o-linear-gradient(left, rgba(186,166,255,1) 0%, rgba(186,166,255,1) 9%, rgba(160,137,253,1) 48%, rgba(126,99,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(186,166,255,1) 0%, rgba(186,166,255,1) 9%, rgba(160,137,253,1) 48%, rgba(126,99,254,1) 100%);
    background: linear-gradient(to right, rgba(186,166,255,1) 0%, rgba(186,166,255,1) 9%, rgba(160,137,253,1) 48%, rgba(126,99,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baa6ff', endColorstr='#7e63fe', GradientType=1 );
}
.box_2,
.box_4,
.box_6{
    background-color: #ffffff;
    color: #9a88ff;
    font-weight: 800;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

.box_1,
.box_3,
.box_5{
    color: #ffffff;
    font-weight: 800;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
.box_3{
    background: rgba(47,218,246,1);
    background: -moz-linear-gradient(left, rgba(47,218,246,1) 0%, rgba(47,218,246,1) 17%, rgba(69,230,250,1) 48%, rgba(83,236,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,218,246,1)), color-stop(17%, rgba(47,218,246,1)), color-stop(48%, rgba(69,230,250,1)), color-stop(100%, rgba(83,236,254,1)));
    background: -webkit-linear-gradient(left, rgba(47,218,246,1) 0%, rgba(47,218,246,1) 17%, rgba(69,230,250,1) 48%, rgba(83,236,254,1) 100%);
    background: -o-linear-gradient(left, rgba(47,218,246,1) 0%, rgba(47,218,246,1) 17%, rgba(69,230,250,1) 48%, rgba(83,236,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(47,218,246,1) 0%, rgba(47,218,246,1) 17%, rgba(69,230,250,1) 48%, rgba(83,236,254,1) 100%);
    background: linear-gradient(to right, rgba(47,218,246,1) 0%, rgba(47,218,246,1) 17%, rgba(69,230,250,1) 48%, rgba(83,236,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fdaf6', endColorstr='#53ecfe', GradientType=1 );
}
.box_5{
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(205,83,108,1) 0%, rgba(225,131,165,1) 85%, rgba(225,131,165,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(205,83,108,1)), color-stop(85%, rgba(225,131,165,1)), color-stop(100%, rgba(225,131,165,1)));
    background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(205,83,108,1) 0%, rgba(225,131,165,1) 85%, rgba(225,131,165,1) 100%);
    background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(205,83,108,1) 0%, rgba(225,131,165,1) 85%, rgba(225,131,165,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(205,83,108,1) 0%, rgba(225,131,165,1) 85%, rgba(225,131,165,1) 100%);
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(205,83,108,1) 0%, rgba(225,131,165,1) 85%, rgba(225,131,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e183a5', GradientType=1 );
}
.button{
    background:#3ee3fa;
    height:30px;
    text-align:center;
    padding-top: 10px;
    width: 200px;
    color:#fff;
    -webkit-box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.75);
    margin:auto;
    transition: 1s ease;
    margin-bottom:200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 800;
}
.button:hover{
     background:#2775f4;
     color:#fff;
     -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -ms-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    cursor:pointer;
}







@media screen and (max-width: 570px) {
      #box {
        width: 100%;
      }
    }
