    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    li {
        list-style-type: none;
    }
    /* RESET */
    
    .page {
        background-color: #FFF;
        padding: 0;
        margin: 0;
    }
    
    .page__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .page__section,
    .page__header,
    .page__footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page__section {
        background-color: #FFF;
      
    }

    .page__layout {
        width: 1200px;
        height: 100%;
    }
    
    .page__layout--full {
        width: 100%;
    }
    
    button {
        border: none;
        padding: 0;
        margin: 0;
    }
    /* */
    /*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
    

.page__section-vgrad {
    height: 100vh;
    background: linear-gradient(to right, #bfacfe, #795fff);
}

.page__layout-content {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

div.page__layout-wrapper {
    height: inherit;
    max-height: 100vh;
    width: inherit;
}

h1.main-title {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

header.head {
    position: fixed;
    top: 0;
    width: 100%;
}

nav.navbar {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}

.square {
    width: 150px;
    height: 150px;
    background-image: url("img/icons/dot.svg");
    background-repeat: repeat;
    background-position: 1px 1px;
    background-size: 10px;
}

.sq-left {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.sq-right {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.triangle {
    position: fixed;
    left: 10px;
    top: 10px;
}
